=======================================
   Bienvenue {{ full_name }} !
=======================================
Nom d'utilisateur : {{ username }}
Téléphone WhatsApp : {{ phone }}
Email : {{ email }}
Shell : {{ final_shell }}

Votre mot de passe par défaut a été défini.
Vous devez le changer dès votre première connexion.

Bonne session sur le serveur {{ ansible_hostname }} !
Date de création : {{ ansible_date_time.date }}
=======================================
